<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="https://avatars1.githubusercontent.com/u/16692609?v=3&s=200" alt="fruit-tech-logo"/>
    {% endif %}
  </a>
  <h2><a href="fruittech.org">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Loading.......</p>
    <p>
      .
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
